################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/EnotherGitTest/.vs/EnotherGitTest/v15
/EnotherGitTest/EnotherGitTest/bin/Debug/netcoreapp2.1
/EnotherGitTest/EnotherGitTest/obj/Debug/netcoreapp2.1
/EnotherGitTest/EnotherGitTest/obj
